.header input {
  width: 100%;
}

.header .header-container {
  background: rgba(0, 0, 0, 0.4);
}

.header a h2 {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}

.header a h2:hover {
  color: white;
}
