body {
  background: rgba(255, 255, 255, 0.3);
}

/* ----- Header ----- */

.header input {
  width: 100%;
}

.header .header-container {
  background: rgba(0, 0, 0, 0.7);
}

.header a h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
}

.header a h2:hover {
  color: white;
}

/* ----- Header ----- */

/* ----- Movie Card ----- */

.card {
  background: rgba(0, 0, 0, 0.7);
  height: 25rem;
  color: white;
}

.card img {
  height: 80%;
}

.card-body a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

.card-body a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}

.card-body .rating {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .card img {
    min-height: 60%;
  }

  .card-body .rating {
    margin: 1rem 0.5rem;
  }
}
@media (max-width: 400px) {
  .card img {
    min-height: 40%;
  }

  .card-body .rating {
    margin: 1rem 0.5rem;
    flex-direction: column;
  }
}

/* ----- Movie Card ----- */

/* ----- Pagination ------ */

.paginate {
  display: flex;
  justify-content: center;
}

.page-link {
  border-radius: 50%;
}

/* ----- Pagination ------ */

/*----- Nabar -----*/

.navbar {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 1rem !important;
  background: transparent !important;
}

.nav {
  width: 25%;
  display: flex;
  justify-content: center;
}
.nav-item {
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
}

@media (max-width: 996px) {
  .nav {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .nav {
    width: 100%;
    text-align: center;
  }
}

.nav-link {
  color: white;
  width: 100%;
}

.nav-link:hover,
.nav-link.active {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.7);
}

/*----- Nabbar -----*/

/* ----- Genre section ----- */

.genres-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.genre-pill {
  background: gray;
  color: white;
  margin: 0.5rem 0.5rem;
  line-height: 2rem;
  padding: 0 1.3rem;
  border-radius: 50px;
}

.genre-pill:hover {
  background: #0d6efd;
  cursor: pointer;
}

/* ----- Genre section ----- */
